{% extends "hyperadminclient/base.html" %}

{% block body %}

{% block templated_queries %}
{% if pagination_links %}
{% if meta.object_count %}<em>Count</em>: <span class="count">{{meta.object_count}}</span><br/>{% endif %}
{% if meta.number_of_pages %}<em>Pages</em>: <span class="page_count">{{meta.number_of_pages}}</span><br/>{% endif %}

<div class="pagination">
<ul>
{% for link in pagination_links %}
<li>{% include "hyperadminclient/includes/link.html" with link=link %}</li>
{% endfor %}
</ul>
</div>
{% endif %}

{% for section, links in filter_links.iteritems %}
    <h2>{{section}}</h2>
    {% include "hyperadminclient/includes/templated_queries.html" with links=links%}
{% endfor %}
{% endblock %}

{% block items %}
{% with state.get_resource_items as items %}
{% if meta.display_fields %}
<table id="items">
<thead>
    <tr>
    <th>{{state.resource.resource_name}}<th>
    {% for field in meta.display_fields %}
    <th>{{field.prompt}}</th>
    {% endfor %}
    </tr>
</thead>
<tbody>
{% include "hyperadminclient/includes/table_items.html" %}
</tbody>
</table>
{% else %}
{% include "hyperadminclient/includes/items.html" %}
{% endif %}
{% endwith %}
{% endblock items %}
</div>
{% endblock body %}

