{% extends "hyperadminclient/base.html" %}

{% block body %}
{% with state.get_resource_items.0 as item %}
<div class="hypermediaitem row">

<div class="item span9">
{% block link %}
{% if not link.is_simple_link %}
<div id="main_link" class="row">
<div class="span9">
{% include "hyperadminclient/includes/item_link.html" %}
</div>
</div>
{% endif %}
{% endblock %}

{% block item_embedded_links %}
{% if item.get_embedded_links %}
<div class="embedded_links row">
<div class="span9">
{% include "hyperadminclient/includes/links.html" with links=item.get_embedded_links %}
</div>
</div>
{% endif %}
{% endblock %}
</div>

{% block item_namespaces %}
<div class="namespace span9">
{% for namespace in item.get_namespaces.itervalues %}
    <div class="namespace {{namespace.name}}">
    <h3>{{namespace.name}}</h3>
    <div class="row-fluid">
    {% comment %}
    <div class="span4">
    {% if namespace.link.is_simple_link %}
    {% include "hyperadminclient/includes/link.html" with link=namespace.link class="btn btn-link" %}
    {% else %}
    {% include "hyperadminclient/includes/link.html" with link=namespace.link class="visible-desktop" %}
    {% endif %}
    </div>
    {% endcomment %}
    
    {% with namespace.state.get_outbound_links as outbound_links %}
    {% if outbound_links %}
    <div class="span3">
    {% include "hyperadminclient/includes/outboundlinks.html" with links=outbound_links %}
    </div>
    {% endif %}
    {% endwith %}
    </div>
    
    <div class="namespace-items row-fluid">
    {% for subitem in namespace.state.get_resource_items %}
        <div class="namespace-item span4">
        <div class="namespace-form">
        {% with subitem.get_item_link as item_link %}
        {% with item_link.submit as update_link %}
        {% if update_link and not update_link.is_simple_link %}
        {% include "hyperadminclient/includes/link.html" with link=item_link %}
        {% include "hyperadminclient/includes/link.html" with link=update_link class="visible-desktop" %}
        {% else %}
        {% include "hyperadminclient/includes/link.html" with link=item_link %}
        {% endif %}
        {% endwith %}
        {% endwith %}
        </div>
        
        {% if subitem.get_outbound_links %}
        <div class="namespace-outbound_links">
        {% include "hyperadminclient/includes/links.html" with links=subitem.get_outbound_links %}
        </div>
        {% endif %}
        </div>
    {% endfor %}
    </div>
    </div>
{% endfor %}
</div>
{% endblock item_namespaces %}

{% endwith %}
{% endblock body %}

{% block extra_js %}
{{block.super}}
<script>
$(document).ready(function() {
    //init file uploads
    var file_fields = $('.hypermediaitem input[type="file"]')
    App.initUploadFile(file_fields)
    //file uploads means all forms are JSON submitted
    
    $('#main_link form').live('submit', function() {
        var form = $(this);
        
        var handleResponse = function(data, textStatus, jqXHR) {
            var main_link = $(data).find('#main_link')
            if (main_link.length) {
                var top = form.parents('#main_link').html(main_link.contents())
                var main_file_fields = top.find('input[type="file"]')
                App.initUploadFile(main_file_fields)
            } else {
                alert('Unable to get inline response')
            }
        }
        
        payload = App.serializeFormJSON(form);
        var settings = $.extend({}, App.requestDefaults, {
            url: form.attr('action'),
            type: form.attr('method') || 'POST',
            data: payload,
            success: handleResponse,
            dataType: "html"
        })
        $.ajax(settings)
        return false;
    })
    
    $('.namespace form').live('submit', function() {
        var form = $(this);
        
        var handleResponse = function(data, textStatus, jqXHR) {
            var main_link = $(data).find('#main_link')
            if (main_link.length) {
                var top = form.parents('.namespace-form:first').html(main_link.contents())
                var namespace_file_fields = top.find('input[type="file"]')
                App.initUploadFile(namespace_file_fields)
            } else {
                alert('Unable to get inline response')
            }
        }
        
        payload = App.serializeFormJSON(form);
        var settings = $.extend({}, App.requestDefaults, {
            url: form.attr('action'),
            type: form.attr('method') || 'POST',
            data: payload,
            success: handleResponse,
            dataType: "html"
        })
        $.ajax(settings)
        return false;
    });
});
</script>
{% endblock %}

