{% extends "hyperadminclient/base.html" %}

{% block content %}
{% with state.get_resource_items.0 as item %}
<div class="hypermediaresource">

{% block outbound_links %}
{% with state.get_outbound_links as outbound_links %}
{% if outbound_links %}
<h2>Breadcrumbs</h2>
<div id="outbound_links">
{% include "hyperadminclient/includes/links.html" with links=outbound_links %}
</div>
{% endif %}
{% endwith %}
{% endblock %}

{% block templated_queries %}
{% with state.get_templated_queries as templated_queries %}
{% if templated_queries %}
<h2>Templated Queries</h2>
<div id=templated_queries">
{% include "hyperadminclient/includes/templated_queries.html" with links=templated_queries %}
</div>
{% endif %}
{% endwith %}
{% endblock %}

{% block non_idempotent_updates %}
{% with item.get_ln_links as non_idempotent_updates %}
{% if non_idempotent_updates %}
<div id="non_idempotent_updates">
{% include "hyperadminclient/includes/link.html" with link=form_link %}
</div>
{% endif %}
{% endwith %}
{% endblock %}

{% block idempotent_updates %}
{% with item.get_idempotent_links as idempotent_updates %}
{% if idempotent_updates %}
<div id="idempotent_updates">
{% include "hyperadminclient/includes/links.html" with links=idempotent_updates %}
</div>
{% endif %}
{% endwith %}
{% endblock %}
{% block link %}
{% if link.form %}
<h2>Main Link</h2>
<div id="main_link">
{% include "hyperadminclient/includes/link.html" %}
</div>
{% endif %}
{% endblock %}
</div>


<div class="hypermediaitem item">

{% block item_outbound_links %}
{% if item.outbound_links %}
<div class="outbound_links">
{% include "hyperadminclient/includes/links.html" with links=item.outbound_links %}
</div>
{% endif %}
{% endblock %}

{% block item_embedded_links %}
{% if item.embedded_links %}
<div class="embedded_links">
{% include "hyperadminclient/includes/links.html" with links=item.embedded_links %}
</div>
{% endif %}
{% endblock %}

</div>
{% endwith %}
{% endblock content %}

