{% extends "hyperadminclient/base.html" %}

{% block body %}

{% block templated_queries %}
{% with state.get_templated_queries as templated_queries %}
{% if templated_queries %}
<h2>Templated Queries</h2>
<div id=templated_queries">
{% include "hyperadminclient/includes/templated_queries.html" with links=templated_queries %}
</div>
{% endif %}
{% endwith %}
{% endblock %}

{% block non_idempotent_updates %}
{% with state.get_ln_links as non_idempotent_updates %}
{% if non_idempotent_updates %}
<div id="non_idempotent_updates">
{% include "hyperadminclient/includes/links.html" with links=non_idempotent_updates %}
</div>
{% endif %}
{% endwith %}
{% endblock %}

{% block idempotent_updates %}
{% with state.get_idempotent_links as idempotent_updates %}
{% if idempotent_updates %}
<div id="idempotent_updates">
{% include "hyperadminclient/includes/links.html" with links=idempotent_updates %}
</div>
{% endif %}
{% endwith %}
{% endblock %}

{% endblock body %}

