{% extends "hyperadminclient/base.html" %}

{% block body %}

{% block non_idempotent_updates %}
{% with state.links.get_ln_links as non_idempotent_updates %}
{% if non_idempotent_updates %}
<div id="non_idempotent_updates">
{% include "hyperadminclient/includes/links.html" with links=non_idempotent_updates %}
</div>
{% endif %}
{% endwith %}
{% endblock %}

{% block idempotent_updates %}
{% with state.links.get_idempotent_links as idempotent_updates %}
{% if idempotent_updates %}
<div id="idempotent_updates">
{% include "hyperadminclient/includes/links.html" with links=idempotent_updates %}
</div>
{% endif %}
{% endwith %}
{% endblock %}

{% block link %}
{% if not link.is_simple_link %}
<div id="main_link">
{% include "hyperadminclient/includes/link.html" %}
</div>
{% endif %}
{% endblock %}

{% endblock body %}

