{% extends "hyperadminclient/base.html" %}

{% block content %}
<h1>Site Administration</h1>

<div class="hypermediaresource">
{% block embedded_links %}
{% with state.get_embedded_links as embedded_links %}
{% if embedded_links %}
<h2>Embedded Links</h2>
<div id="embedded_links">
{% include "hyperadminclient/includes/links.html" with links=embedded_links %}
</div>
{% endif %}
{% endwith %}
{% endblock %}

{% block outbound_links %}
{% with state.get_outbound_links as outbound_links %}
{% if outbound_links %}
<h2>Breadcrumbs</h2>
<div id="outbound_links">
{% include "hyperadminclient/includes/links.html" with links=outbound_links %}
</div>
{% endif %}
{% endwith %}
{% endblock %}

{% block errors %}
{% if link.errors %}
<h2>Errors</2>
<div id="errors" class="errors">
{{link.errors}}
</div>
{% endif %}
{% endblock errors %}

{% block items %}
{% with state.get_resource_items as items %}
<h2>Applications</h2>
<div id="items">
{% include "hyperadminclient/includes/resource_items.html" %}
</div>
{% endwith %}
{% endblock items %}
</div>
{% endblock content %}
