{% if link.method == "GET" or link.method == "POST" %}
{% with link.get_link_factor as link_factor %}
{% if link.form %}
<div class="hypermedialink {{link_factor}}">
<form method="{{link.method}}" action="{{link.get_absolute_url}}" rel="{{link.rel}}" enctype="multipart/form-data">
{% if link_factor == "LI" or link_factor == "LN" %}
{% csrf_token %}
{% endif %}
<table>
{{link.form.as_table}}
</table>
<button type="submit" class="btn {{class}} {{link.class_attr}}">{{link.prompt}}</button>
</form>
</div>
{% else %}
{% if link.method == "GET" %}
<a href="{{link.get_absolute_url}}" class="hypermedialink {{link_factor}} btn {{link.class_attr}} {{class}}" rel="{{link.rel}}">{{link.prompt}}</a>
{% else %}
<div class="hypermedialink {{link_factor}} ">
<form method="{{link.method}}" action="{{link.get_absolute_url}}" rel="{{link.rel}}">{% csrf_token %}
<button type="submit" class="btn {{class}} {{link.class_attr}}"/>{{link.prompt}}</button>
</form>
</div>
{% endif %}
{% endif %}
{% endwith %}
{% endif %}
