{% load admin_links %}
{% for item in items %}
{% if item.instance.resource_class == "resourcelisting" %}
{% if not forloop.first %}</div>{% endif %}
<div class="row">
<div class="span4">

<div class="self_link">
    <h3><a href="{{item.get_absolute_url}}" rel="item">{{item.get_prompt}}</a></h3>
</div>
</div>
</div>
<div class="row-fluid">
{% else %}
<div class="span4">

<div class="self_link">
    <a href="{{item.get_absolute_url}}" rel="item">{{item.get_prompt}}</a>
</div>


{% block item_outbound_links %}
{% with item.links.get_item_outbound_links as outbound_links %}
{% if outbound_links %}
<div class="tools btn-toolbar">
{% tool_links outbound_links %}
</div>
{% endif %}
{% endwith %}
{% endblock %}

</div>
{% endif %}
{% endfor %}
</div>

