{% for item in items %}
<tr class="hypermediaitem item">

<td class="self_link">
    <a href="{{item.get_absolute_url}}" rel="item">{{item.get_prompt}}</a>
</td>

{% block data %}
{% if item.form and item.form.fields %}
{% for row in item.form %}
<td class="{{row.name}}">
{{row.value}}
</td>
{% endfor %}
{% endif %}
{% endblock %}

{% block item_outbound_links %}
{% with item.get_outbound_links as outbound_links %}
{% if outbound_links %}
<td class="outbound_links">
{% include "hyperadmin/html5/links.html" with links=outbound_links %}
</td>
{% endif %}
{% endwith %}
{% endblock %}
</tr>
{% endfor %}

