{% for item in items %}
<tr class="hypermediaitem item">

<td class="self_link">
    <a href="{{item.get_absolute_url}}" rel="item">{{item.get_prompt}}</a>
</td>

{% block data %}
{% if item.form and item.form.fields %}
{% for row in item.form %}
<td class="{{row.name}}">
{{row.value}}
</td>
{% endfor %}
{% endif %}
{% endblock %}

{% comment %}

{% block item_outbound_links %}
{% with item.get_outbound_links as outbound_links %}
{% if outbound_links %}
<h4>Outbound Links</h4>
<div class="outbound_links">
{% include "hyperadmin/html5/links.html" with links=outbound_links %}
</div>
{% endif %}
{% endwith %}
{% endblock %}

{% block item_embedded_links %}
{% with item.get_embedded_links as embedded_links %}
{% if embedded_links %}
<h4>Embedded Links</h4>
<div class="embedded_links">
{% include "hyperadmin/html5/links.html" with links=embedded_links %}
</div>
{% endif %}
{% endwith %}
{% endblock %}

{% block item_templated_queries %}
{% with item.get_templated_queries as templated_queries %}
{% if templated_queries %}
<h4>Templated Queries</h4>
<div id=templated_queries">
{% include "hyperadmin/html5/templated_queries.html" with links=templated_queries %}
</div>
{% endif %}
{% endwith %}
{% endblock %}

{% block item_non_idempotent_updates %}
{% with item.get_ln_links as non_idempotent_updates %}
{% if non_idempotent_updates %}
<h4>Non-Idempotent Updates</h4>
<div id="non_idempotent_updates">
{% include "hyperadmin/html5/links.html" with links=non_idempotent_updates %}
</div>
{% endif %}
{% endwith %}
{% endblock %}

{% block item_idempotent_updates %}
{% with item.get_idempotent_links as idempotent_updates %}
{% if idempotent_updates %}
<h4>Idempotent Updates</h4>
<div id="idempotent_updates">
{% include "hyperadmin/html5/links.html" with links=idempotent_updates %}
</div>
{% endif %}
{% endwith %}
{% endblock %}

{% endcomment %}

</tr>
{% endfor %}
